/*
* Css Colors
* Custom Matugen Output
*/
@define-color foreground {{colors.inverse_on_surface.default.hex}};
@define-color background {{colors.background.default.hex}};
@define-color cursor {{colors.inverse_on_surface.default.hex}};
@define-color color0 {{colors.background.default.hex}};
@define-color color1 {{colors.error.default.hex}};
@define-color color2 {{colors.error_container.default.hex}};
@define-color color3 {{colors.inverse_on_surface.default.hex}};
@define-color color4 {{colors.inverse_primary.default.hex}};
@define-color color5 {{colors.inverse_surface.default.hex}};
@define-color color6 {{colors.on_background.default.hex}};
@define-color color7 {{colors.on_error.default.hex}};
@define-color color8 {{colors.on_error_container.default.hex}};
@define-color color9 {{colors.on_primary.default.hex}};
@define-color color10 {{colors.on_primary_container.default.hex}};
@define-color color11 {{colors.on_primary_fixed.default.hex}};
@define-color color12 {{colors.on_primary_fixed_variant.default.hex}};
@define-color color13 {{colors.on_secondary.default.hex}};
@define-color color14 {{colors.on_secondary_container.default.hex}};
@define-color color15 {{colors.on_secondary_fixed.default.hex}};
