/*
* Css Colors
* Custom Matugen Output
*/
@define-color foreground #313036;
@define-color background #131318;
@define-color cursor #313036;
@define-color color0 #131318;
@define-color color1 #ffb4ab;
@define-color color2 #93000a;
@define-color color3 #313036;
@define-color color4 #5c5891;
@define-color color5 #e5e1e9;
@define-color color6 #e5e1e9;
@define-color color7 #690005;
@define-color color8 #ffdad6;
@define-color color9 #2d2960;
@define-color color10 #e3dfff;
@define-color color11 #18124a;
@define-color color12 #444078;
@define-color color13 #302e42;
@define-color color14 #e4dff9;
@define-color color15 #1b1a2c;
