/*
* Css Colors
* Custom Matugen Output
*/
@define-color foreground #2f3036;
@define-color background #121318;
@define-color cursor #2f3036;
@define-color color0 #121318;
@define-color color1 #ffb4ab;
@define-color color2 #93000a;
@define-color color3 #2f3036;
@define-color color4 #4c5c92;
@define-color color5 #e3e1e9;
@define-color color6 #e3e1e9;
@define-color color7 #690005;
@define-color color8 #ffdad6;
@define-color color9 #1c2d61;
@define-color color10 #dbe1ff;
@define-color color11 #02174b;
@define-color color12 #344479;
@define-color color13 #2b3042;
@define-color color14 #dde1f9;
@define-color color15 #161b2c;
