/*
* Css Colors
* Custom Matugen Output
*/
@define-color foreground #2d3135;
@define-color background #101418;
@define-color cursor #2d3135;
@define-color color0 #101418;
@define-color color1 #ffb4ab;
@define-color color2 #93000a;
@define-color color3 #2d3135;
@define-color color4 #2e628c;
@define-color color5 #e0e2e8;
@define-color color6 #e0e2e8;
@define-color color7 #690005;
@define-color color8 #ffdad6;
@define-color color9 #003352;
@define-color color10 #cde5ff;
@define-color color11 #001d32;
@define-color color12 #0b4a72;
@define-color color13 #233240;
@define-color color14 #d5e4f6;
@define-color color15 #0e1d2a;
