/*
* Css Colors
* Custom Matugen Output
*/
@define-color foreground #2f3036;
@define-color background #121318;
@define-color cursor #2f3036;
@define-color color0 #121318;
@define-color color1 #ffb4ab;
@define-color color2 #93000a;
@define-color color3 #2f3036;
@define-color color4 #455d91;
@define-color color5 #e2e2e9;
@define-color color6 #e2e2e9;
@define-color color7 #690005;
@define-color color8 #ffdad6;
@define-color color9 #132f60;
@define-color color10 #d9e2ff;
@define-color color11 #001a43;
@define-color color12 #2d4678;
@define-color color13 #293042;
@define-color color14 #dbe2f9;
@define-color color15 #141b2c;
