/*
* Css Colors
* Tokyo Night Theme (Mapped to Catppuccin Variable Names)
* https://github.com/folke/tokyonight.nvim
*/

@define-color background #1a1b26;
@define-color surface #1a1b26;
@define-color surface_dim #16161e;
@define-color surface_bright #2f3549;
@define-color surface_container #1a1b26;
@define-color surface_container_low #16161e;
@define-color surface_container_high #2f3549;
@define-color surface_container_highest #3b4261;
@define-color surface_container_lowest #16161e;

@define-color primary #7aa2f7;
@define-color on_primary #1a1b26;
@define-color primary_container #2f3549;
@define-color on_primary_container #c0caf5;
@define-color primary_fixed #7aa2f7;
@define-color primary_fixed_dim #7aa2f7;

@define-color secondary #bb9af7;
@define-color on_secondary #1a1b26;
@define-color secondary_container #2f3549;
@define-color on_secondary_container #bb9af7;
@define-color secondary_fixed #bb9af7;
@define-color secondary_fixed_dim #bb9af7;

@define-color tertiary #7dcfff;
@define-color on_tertiary #1a1b26;
@define-color tertiary_container #2f3549;
@define-color on_tertiary_container #7dcfff;
@define-color tertiary_fixed #7dcfff;
@define-color tertiary_fixed_dim #7dcfff;

@define-color error #f7768e;
@define-color error_container #1a1b26;
@define-color on_error #1a1b26;
@define-color on_error_container #f7768e;

@define-color inverse_surface #c0caf5;
@define-color inverse_on_surface #1a1b26;
@define-color inverse_primary #7aa2f7;

@define-color on_background #c0caf5;
@define-color on_surface #c0caf5;
@define-color on_surface_variant #a9b1d6;

@define-color on_primary_fixed #1a1b26;
@define-color on_primary_fixed_variant #7aa2f7;

@define-color on_secondary_fixed #1a1b26;
@define-color on_secondary_fixed_variant #bb9af7;

@define-color on_tertiary_fixed #1a1b26;
@define-color on_tertiary_fixed_variant #7dcfff;

@define-color outline #565f89;
@define-color outline_variant #3b4261;

@define-color scrim #000000;
@define-color shadow #000000;

@define-color source_color #7aa2f7;
@define-color surface_tint #7aa2f7;
