/*
* Css Colors
* Custom Matugen Output
*/
@define-color foreground #2c3134;
@define-color background #0f1417;
@define-color cursor #2c3134;
@define-color color0 #0f1417;
@define-color color1 #ffb4ab;
@define-color color2 #93000a;
@define-color color3 #2c3134;
@define-color color4 #146683;
@define-color color5 #dfe3e7;
@define-color color6 #dfe3e7;
@define-color color7 #690005;
@define-color color8 #ffdad6;
@define-color color9 #003547;
@define-color color10 #bfe9ff;
@define-color color11 #001f2a;
@define-color color12 #004d65;
@define-color color13 #1f333d;
@define-color color14 #d0e6f2;
@define-color color15 #081e27;
