/*
* Css Colors
* Custom Matugen Output
*/
@define-color foreground #2c3134;
@define-color background #0f1416;
@define-color cursor #2c3134;
@define-color color0 #0f1416;
@define-color color1 #ffb4ab;
@define-color color2 #93000a;
@define-color color3 #2c3134;
@define-color color4 #0a6780;
@define-color color5 #dee3e6;
@define-color color6 #dee3e6;
@define-color color7 #690005;
@define-color color8 #ffdad6;
@define-color color9 #003544;
@define-color color10 #b9eaff;
@define-color color11 #001f29;
@define-color color12 #004d62;
@define-color color13 #1e333c;
@define-color color14 #cfe6f1;
@define-color color15 #071e26;
