@import "./colors.css";

* {
  background-color: @bg;
  color: @fg;

  border: none;
  border-radius: 0;
  min-height: 0;

  font-family: "LythMono Nerd Font", "Akshar", "YujiBoku", "Noto Color Emoji", sans-serif;
  font-size: 13px; 
  font-weight: bold;
}


tooltip {
  background: @dark-bg;
  border-radius: 15px;
  border: 1px solid @rd1;
}

tooltip label {
  color: @fg;
  padding: 5px;
}

window#waybar {
  color: @fg; 
  background-color: @bg;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  margin: 7px;
  /* margin-top: 5px; */
}

#workspaces {
  background-color: @dark-bg;
  margin: 2px 4px;
  padding: 0 5px;
  border-radius: 20px;
  opacity: 0.9;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#idle_inhibitor,
#tray-expander,
#custom-notification,
#cpu,
#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
