@define-color bg_primary rgba(41, 42, 52, 0.8);
@define-color border_primary rgb(69, 71, 87);
@define-color text_primary white;
@define-color text_critical #f7a6a6;
@define-color text_blink #ffffff;
@define-color bg_transparent transparent;
@define-color color_transparent transparent;

* {
  border: none;
  border-radius: 10px;
  font-family: "JetBrains Mono Nerd Font", "YujiBoku";
  font-size: 14px;
  min-height: 10px;
}

window#waybar {
  padding-top: 10px;
  background-color: @bg_transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color_transparent;
  background: @bg_transparent;
}

#battery.charging, #battery.plugged {

}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#cava {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#battery.charging, #battery.plugged {
  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#battery.critical:not(.charging) {
  color: @text_critical;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

@keyframes blink {
  to {
    color: @text_blink;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#custom-notification {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  margin-bottom: 0px;
  padding-right: 4px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#tray {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 4px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#user {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 8px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#bluetooth {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 8px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#custom-power {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 15px;
  margin-bottom: 0px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#custom-media {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#custom-notifications {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 15px;
  margin-bottom: 0px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#workspaces {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 8px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  transition: none;

  color: @text_primary;
  background-color: @bg_primary;
  border: 2px solid @border_primary;
  border-radius: 10px;
}

#workspaces button {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#workspaces button.focused {
  background-color: rgb(69, 71, 87);
  color: white;
}

#workspaces button.active {
  background-color: rgb(69, 71, 87);
  color: white;
}

