@import url("./themes/mocha.css");

* {
    font-family: "JetBrainsMono Nerd Font", "YujiBoku";
    font-size: 12px;
    color: @base;
    transition: 0.1s ease-in-out;
    font-weight: bolder;
}

/* Base bar background */
window#waybar {
    background-color: @base;
    border-radius: 12px;
}

tooltip label {
    color: @lavender;
}

#tray menu label {
    color: @lavender;
}

/* === Individual Module Styles === */

/* Clock - Sky */
#clock {
    background-color: @sky;
    border-radius: 10px;
}

/* Battery - Green (normal), Yellow (warning), Red (critical) */
#battery {
    background-color: @green;
    border-radius: 10px;
}

#battery.warning:not(.charging) {
    background-color: @yellow;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation: blink 0.5s linear infinite alternate;
}

#pulseaudio {
    background-color: @blue;
    border-radius: 10px;
}

#pulseaudio.muted {
    background-color: @red;
}

#backlight {
    background-color: @yellow;
    border-radius: 10px;
}

#workspaces {
    background-color: @surface1;
    border-radius: 10px;
    margin: 4px 0px;
}

#workspaces button label {
    color: @lavender;
    padding: 0 4px;
}

#workspaces button {
    padding: 2px 6px;
    border-radius: 8px;
    background: transparent;
    min-width: 0px;
}

#workspaces button.active label {
    color: @base;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: @lavender;
    border-radius: 8px;
    padding: 2 10px;
    font-weight: bold;

}

#workspaces button:hover {
    color: rgba(0, 0, 0, 0);
}

#workspaces button.urgent {
    background-color: @red;
}

#tray,
#custom-power,
#battery,
#custom-launcher,
#custom-clock,
#custom-notification,
#clock,
#backlight,
/* #custom-clipboard, */
/* #custom-vkeyboard, */
#custom-notification.notification,
#custom-notification.dnd-none,
#custom-notification.dnd-notification,
#custom-screen-time,
#idle_inhibitor,
#privacy,
#mpris,
#misc,
#nwtwork,
#pulseaudio {
    padding: 0px 10px;
    margin: 4px 0px;
}

/* Tray - Flamingo */
#tray {
    background-color: @flamingo;
    border-radius: 10px;
}

/* Custom Power - Red */
#custom-power {
    margin-right: 3px;
    background-color: @red;
    border-radius: 10px;
}

/* Custom Launcher - Peach */
#custom-launcher {
    margin-left: 3px;
    background-color: @peach;
    border-radius: 10px;
}

/* Custom Clipboard - Pink */
/* #custom-clipboard { */
/*     background-color: #f5c2e7; */
/*     border-radius: 10px; */
/* } */

/* Custom Notification - Mauve */
#custom-notification {
    background-color: @mauve;
    border-radius: 10px;
}

#custom-screen-time {
    background-color: #94e2d5;
    border-radius: 10px;
}

/* Custom VKeyboard - Teal */
/* #custom-vkeyboard { */
/*     background-color: #94e2d5; */
/*     border-radius: 10px; */
/*     font-size: 14; */
/* } */

/* Privacy - Maroon */
#privacy {
    background-color: @maroon;
    border-radius: 10px;
}

#custom-vkeyboard,
#custom-screenrecording,
#custom-clipboard {
    margin: 0 6px;
    font-size: 13px;
}

#misc {
    background-color: @teal;
    border-radius: 10px;
    padding: 0 2px;
}

#privacy-item.audio-out {
    color: @base;
}

/* Idle Inhibitor - Rosewater */
#idle_inhibitor {
    background-color: @rosewater;
    border-radius: 10px;
}

/* MPRIS - Sapphire */
#mpris {
    background-color: @sapphire;
    border-radius: 10px;
}

/* #custom-notification.dnd-none { */
/*     padding-left: 7px; */
/*     padding-right: 13px; */
/* } */
/**/

#custom-notification.dnd-notification {
    padding-left: 8px;
    padding-right: 7px;
}

/**/
/* #custom-notification.notification { */
/*     padding-left: 8px; */
/*     padding-right: 7px; */
/* } */

/* Hover effect for all modules */
#clock:hover,
#battery:hover,
#pulseaudio:hover,
#backlight:hover,
#tray:hover,
#workspaces:hover,
#custom-power:hover,
#custom-launcher:hover,
#custom-clipboard:hover,
#custom-notification:hover,
#custom-vkeyboard:hover,
#privacy:hover,
#idle_inhibitor:hover,
#mpris:hover {
    transition: all 0.2s ease-in;
    text-shadow: 0 0 1px @base;
}

/* Blinking critical battery */
@keyframes blink {
    to {
        color: @base;
    }
}
