spawn-at-startup "~/.config/autostart/startup.sh"
spawn-at-startup " /usr/lib/xdg-desktop-portal"
spawn-at-startup "/usr/lib/xdg-desktop-portal-gnome"

spawn-at-startup "systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri"
spawn-at-startup "systemctl --user import-environment QT_QPA_PLATFORMTHEME"

spawn-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'Cosmic'"
spawn-at-startup "gsettings set org.gnome.desktop.wm.preferences theme 'Cosmic'"
spawn-at-startup "gsettings set org.gnome.desktop.interface icon-theme 'Cosmic'"
spawn-at-startup " gsettings set org.gnome.desktop.interface cursor-theme 'Bibata-Modern-Ice'"
