include "configs/env.kdl"
include "configs/binds.kdl"
include "configs/startup.kdl"
include "configs/input.kdl"
include "configs/monitor.kdl"
include "configs/animation.kdl"
include "configs/rules.kdl"
include "configs/debug.kdl"
include "configs/misc.kdl"

layout {
    preset-column-widths {
        proportion 0.25      // Quarter screen
        proportion 0.33333   // Third screen
        proportion 0.5       // Half screen
        proportion 0.66667   // Two-thirds screen
        proportion 0.75      // Three-quarters screen
        fixed 1280           // Fixed width for specific apps
    }
    
    preset-window-heights {
        proportion 0.5       // Half height
        proportion 0.66667   // Two-thirds height
        proportion 1.0       // Full height
    }
    
    default-column-width { proportion 1.0; }

    focus-ring {
         off
    }
    border {
        width 2
        active-color "#C1CAF5"
        inactive-color "transparent"
        urgent-color "#9b0000"
    }
    
    shadow {
        on
        softness 30
        spread 8
        offset x=0 y=5
        color "#00000040"
    }
    
    tab-indicator {
      width 8
      gap 8
      length total-proportion=1.0
      position "top"
      place-within-column
    }

    background-color "transparent"
    gaps 6
}
