environment {
  DISPLAY ":0"

  SDL_VIDEODRIVER "wayland"
  SDL_AUDIODRIVER "pipewire"
  _JAVA_AWT_WM_NONREPARENTING "1"

  XDG_CURRENT_DESKTOP "niri"
  XDG_SESSION_DESKTOP "niri"
  XDG_CURRENT_SESSION_TYPE "wayland"

  GDK_BACKEND "wayland"
  MOZ_ENABLE_WAYLAND "1"
  MOZ_DISABLE_RDD_SANDBOX "1"
  KITTY_ENABLE_WAYLAND "1"
  EGL_PLATFORM "wayland"
  GTK_USE_PORTAL "0"

  QT_PLUGIN_PATH "/usr/lib/qt/plugins/"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "gtk3"

  __GLX_VENDOR_LIBRARY_NAME "nvidia"
  __GL_VRR_ALLOWED "1"
  WLR_NO_HARDWARE_CURSORS "1"
  LIBVA_DRIVER_NAME "nvidia"
  VDPAU_DRIVER "nvidia"
  __GL_SYNC_TO_VBLANK "0"
  NVD_BACKEND "direct"
}

binds {
    Super+Shift+Slash { show-hotkey-overlay; }

    Super+Return { spawn "wezterm"; }
    Alt+Return { spawn "footclient"; }
    Super+D { spawn "rofi" "-show" "drun"; }
    Super+E { spawn "~/.scripts/emojis/emoji.sh"; }
    Super+Shift+X { spawn "~/.scripts/system/waylock.sh"; }
    Print { screenshot-screen; }
    Super+Print { screenshot; }
    Alt+Print { screenshot-window; }
    
    // my new keyboard doesnt have print screen
    Super+P { screenshot-screen; }
    Super+Shift+P { screenshot; }
    
    Super+N { spawn "nightmode"; }
    Super+O { spawn "ocr"; }
    Super+W { spawn "~/.scripts/misc/wallmanager"; }
    Super+G { spawn "nirifreeze"; }
    Super+V { spawn "clip"; }
    Alt+C { spawn "colpick"; }
    Super+TAB repeat=false { toggle-overview; }
    
    XF86AudioRaiseVolume  { spawn "pamixer" "-i" "5"; }
    XF86AudioLowerVolume  { spawn "pamixer" "-d" "5"; }
    XF86AudioMute { spawn "pamixer" "-t" "mute"; }
    
    XF86MonBrightnessUp   { spawn "brightnessctl" "set" "+5%"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }
    Super+F1   { spawn "brightnessctl" "set" "+5%"; }
    Super+F2 { spawn "brightnessctl" "set" "5%-"; }
    
    XF86AudioPlay  { spawn "playerctl" "play-pause";} 
    XF86AudioPrev  { spawn "playerctl" "previous";} 
    XF86AudioNext  { spawn "playerctl" "next";} 

    XF86Explorer { spawn "cosmic-files"; }
    XF86Search { spawn "rofi" "-no-lazy-greb" "-show" "file-browser-extended" "-icon-theme" "'Dracula'"; }
    XF86Calculator { spawn "galculator"; }
    XF86Tools { spawn "waterfox" "--new-window" "-kiosk" "https://music.youtube.com";}
 
    Super+I { spawn "footclient" "-e" "htop"; }

    Super+Shift+Q { close-window; }
  
    Super+Left  { focus-column-left; }
    Super+Down  { focus-window-down; }
    Super+Up    { focus-window-up; }
    Super+Right { focus-column-right; }

    Super+H     { focus-column-left; }
    Super+J     { focus-window-down; }
    Super+K     { focus-window-up; }
    Super+L     { focus-column-right; }

    Super+Shift+Left  { move-column-left; }
    Super+Shift+Down  { move-window-down; }
    Super+Shift+Up    { move-window-up; }
    Super+Shift+Right { move-column-right; }
    Super+Shift+H     { move-column-left; }
    Super+Shift+J     { move-window-down; }
    Super+Shift+K     { move-window-up; }
    Super+Shift+L     { move-column-right; }

    Super+Home { focus-column-first; }
    Super+End  { focus-column-last; }
    Super+Shift+Home { move-column-to-first; }
    Super+Shift+End  { move-column-to-last; }

    Super+Page_Down      { focus-workspace-down; }
    Super+Page_Up        { focus-workspace-up; }
    Super+U              { focus-workspace-down; }
    Super+Shift+Page_Down { move-column-to-workspace-down; }
    Super+Shift+Page_Up   { move-column-to-workspace-up; }
    Super+Shift+U         { move-column-to-workspace-down; }
    Super+Shift+I         { move-column-to-workspace-up; }

    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }
    Super+0 { focus-workspace "scratch"; }
    Super+Shift+1 { move-window-to-workspace 1; }
    Super+Shift+2 { move-window-to-workspace 2; }
    Super+Shift+3 { move-window-to-workspace 3; }
    Super+Shift+4 { move-window-to-workspace 4; }
    Super+Shift+5 { move-window-to-workspace 5; }
    Super+Shift+6 { move-window-to-workspace 6; }
    Super+Shift+7 { move-window-to-workspace 7; }
    Super+Shift+8 { move-window-to-workspace 8; }
    Super+Shift+9 { move-window-to-workspace 9; }
    Super+Shift+0 { move-window-to-workspace "scratch"; }

    Super+Comma  { consume-window-into-column; }
    Super+Period { expel-window-from-column; }

    Super+R { switch-preset-column-width; }
    Super+Shift+F { maximize-column; }
    Super+F { fullscreen-window; }
    Super+C { center-column; }

    Super+Minus { set-column-width "-10%"; }
    Super+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Super+Shift+Minus { set-window-height "-10%"; }
    Super+Shift+Equal { set-window-height "+10%"; }

    Super+Shift+M { quit; }

    Super+Ctrl+Shift+T { toggle-debug-tint; }
}

workspace "scratch"

spawn-at-startup "~/.config/autostart/startup.sh"
spawn-at-startup " /usr/lib/xdg-desktop-portal"
spawn-at-startup "/usr/lib/xdg-desktop-portal-gnome"

spawn-at-startup "systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri"
spawn-at-startup "systemctl --user import-environment QT_QPA_PLATFORMTHEME"

spawn-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita'"
spawn-at-startup "gsettings set org.gnome.desktop.wm.preferences theme 'Adwaita'"
spawn-at-startup "gsettings set org.gnome.desktop.interface icon-theme 'Pop'"

// input settings
input {

    keyboard {
        repeat-delay 300
        repeat-rate 69
        xkb {
          layout "us"
          options "compose:menu,caps:escape"
        }
    }

    touchpad {
        click-method "button-areas"
        tap
        natural-scroll
        scroll-method "two-finger"
        middle-emulation
        scroll-factor 1
        accel-speed 0.2
        accel-profile "adaptive"
    }

    mouse {
      accel-speed 0.3
      accel-profile "flat"
      //scroll-factor 1.0
      scroll-method "no-scroll"
      //scroll-button 274
      //middle-emulation
    }

  focus-follows-mouse
  warp-mouse-to-focus
  workspace-auto-back-and-forth
}

// output settings
output "eDP-1" {
    scale 1

    mode "1920x1080@60"
}

// layout settings
layout {
    preset-column-widths {
        proportion 0.25      // Quarter screen
        proportion 0.33333   // Third screen
        proportion 0.5       // Half screen
        proportion 0.66667   // Two-thirds screen
        proportion 0.75      // Three-quarters screen
        fixed 1280           // Fixed width for specific apps
    }
    
    preset-window-heights {
        proportion 0.5       // Half height
        proportion 0.66667   // Two-thirds height
        proportion 1.0       // Full height
    }
    
    default-column-width { proportion 1.0; }

    focus-ring {
         off
    }
    border {
        width 2
        active-color "#89B3F8"
        inactive-color "#282828"
        urgent-color "#9b0000"
        //active-gradient from="#f2f2f7" to="#e5e5ea" angle=180 relative-to="workspace-view"
        //inactive-gradient from="#d1d1d6" to="#c7c7cc" angle=180 relative-to="workspace-view"
        //urgent-color "#9b0000"
    }
    
    shadow {
        on
        softness 30
        spread 8
        offset x=0 y=5
        color "#00000040"
    }
    
    tab-indicator {
      width 8
      gap 8
      length total-proportion=1.0
      position "top"
      place-within-column
    }

    background-color "transparent"
    gaps 6
}

screenshot-path "~/pix/ss/shot_%y%m%d_%H-%M-%S.png"

prefer-no-csd

hotkey-overlay {
    skip-at-startup
}


animations {
    workspace-switch {
        // off
        spring damping-ratio=0.75 stiffness=600 epsilon=0.001
    }
    horizontal-view-movement {
        // off
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    
    window-open {
      //duration-ms 150
      //curve "ease-out-expo"
      custom-shader "~/.config/niri/shaders/macos.glsl"
      duration-ms 200
      curve "linear"
    }

    window-close {
      //duration-ms 150
      //curve "ease-out-quad"
      duration-ms 200
      curve "ease-out-quad"
    }

    overview-open-close {
      spring damping-ratio=0.75 stiffness=650 epsilon=0.001
    }

    
}

window-rule {
  match app-id="waterfox" title=r#"^File Upload$"#
  open-floating true
}

window-rule {
    match app-id=r#"^com.system76.CosmicFiles$"#
    open-on-workspace "scratch"
    open-floating true
}

window-rule {
  geometry-corner-radius 12
  draw-border-with-background false
  clip-to-geometry true
}

window-rule {
    match app-id="Godot" title="Create New Node"
    open-floating true
    default-window-height { fixed 750; }
}

window-rule {
  match app-id="Godot" title="Godot Engine - Project Manager"
  open-floating true
  default-window-height { fixed 750; }
}

window-rule {
  match app-id="com.network.manager"
  open-floating true
}

window-rule {
  match app-id="SuperPacker"
  open-floating true
}

//window-rule {
//  match app-id=""
//  block-out-from "screencast"
//  block-out-from "screen-capture"
//}

window-rule {
    match app-id="" title="Picture-in-Picture"
    open-floating true
    //default-column-width { fixed 480; }
    //default-window-height { fixed 270; }
    default-floating-position x=50 y=50 relative-to="top-right"
}

cursor {
  xcursor-theme "Bibata-Modern-Ice"

  xcursor-size 24

  hide-when-typing
  // hide-after-inactive-ms 1000
}

layer-rule {
  match namespace="^wallpaper$"
  place-within-backdrop true
}

layer-rule {
  match namespace="^waybar$"

  opacity 0.85

  geometry-corner-radius 12
}

overview {
    zoom 0.295
    backdrop-color "#000201"

    workspace-shadow {
        off
        softness 400
        spread 300
        offset x=0 y=10
        color "#00000000"
    }
}

switch-events {
  lid-close { spawn "systemctl" "suspend-then-hibernate"; }
  lid-open { spawn "notify-send" "System resume complete"; }
}


window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

layer-rule {
    match namespace="^quickshell-overview$"
    place-within-backdrop true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

layer-rule {
    match namespace="swww"
    geometry-corner-radius 12
    place-within-backdrop true
}

layer-rule {
  match namespace="swaync"
  geometry-corner-radius 9
  //shadow {
  //  on
  //  softness 50
  //  spread 0
  //  offset x=0 y=25
  //  color "#00000099"
  //  draw-behind-window true
  //}
}

layer-rule {
  match namespace="waybar"
  geometry-corner-radius 9
  shadow {
    on
    softness 50
    spread 0
    offset x=0 y=25
    color "#00000000"
    draw-behind-window true
  }
}
