window {
    font-family: JetBrains Mono Nerd Font, monospace;
    font-size: 14px;
    color: #cdd6f4; 
    background-color: rgba(17, 17, 27, .88);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    border: none;
    color: #ced7f4;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(30, 30, 46, 0);
    margin: 2px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(49, 50, 68, 0.1);
}

#lock {
    background-image: image(url("/home/swarn/.config/wlogout/icons/lock-hover.png"));
}

#lock:focus {
    background-image: image(url("/home/swarn/.config/wlogout/icons/lock-hover.png"));
}

#logout {
    background-image: image(url("/home/swarn/.config/wlogout/icons/logout-hover.png"));
}
#logout:focus {
    background-image: image(url("/home/swarn/.config/wlogout/icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("/home/swarn/.config/wlogout/icons/sleep-hover.png"));
} 
#suspend:focus {
    background-image: image(url("/home/swarn/.config/wlogout/icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("/home/swarn/.config/wlogout/icons/power-hover.png"));
}
#shutdown:focus {
    background-image: image(url("/home/swarn/.config/wlogout/icons/power-hover.png"));
}

#reboot {
    background-image: image(url("/home/swarn/.config/wlogout/icons/restart-hover.png"));
}
#reboot:focus {
    background-image: image(url("/home/swarn/.config/wlogout/icons/restart-hover.png"));
}
