@define-color borders_breeze #585b70;
@define-color content_view_bg_breeze #11111b;
@define-color error_color_backdrop_breeze #f38ba8;
@define-color error_color_breeze #f38ba8;
@define-color error_color_insensitive_backdrop_breeze #eba0ac;
@define-color error_color_insensitive_breeze #eba0ac;
@define-color insensitive_base_color_breeze #181825;
@define-color insensitive_base_fg_color_breeze #a6adc8;
@define-color insensitive_bg_color_breeze #313244;
@define-color insensitive_borders_breeze #45475a;
@define-color insensitive_fg_color_breeze #585b70;
@define-color insensitive_selected_bg_color_breeze #313244;
@define-color insensitive_selected_fg_color_breeze #585b70;
@define-color insensitive_unfocused_bg_color_breeze #313244;
@define-color insensitive_unfocused_fg_color_breeze #585b70;
@define-color insensitive_unfocused_selected_bg_color_breeze #313244;
@define-color insensitive_unfocused_selected_fg_color_breeze #585b70;
@define-color link_color_breeze #fab387;
@define-color link_visited_color_breeze #cba6f7;
@define-color success_color_backdrop_breeze #a6e3a1;
@define-color success_color_breeze #a6e3a1;
@define-color success_color_insensitive_backdrop_breeze #4a5c3d;
@define-color success_color_insensitive_breeze #4a5c3d;
@define-color theme_base_color_breeze #11111b;
@define-color theme_bg_color_breeze #1e1e2e;
@define-color theme_button_background_backdrop_breeze #313244;
@define-color theme_button_background_backdrop_insensitive_breeze #45475a;
@define-color theme_button_background_insensitive_breeze #45475a;
@define-color theme_button_background_normal_breeze #313244;
@define-color theme_button_decoration_focus_backdrop_breeze #fab387;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #7b5a3c;
@define-color theme_button_decoration_focus_breeze #fab387;
@define-color theme_button_decoration_focus_insensitive_breeze #7b5a3c;
@define-color theme_button_decoration_hover_backdrop_breeze #fab387;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #7b5a3c;
@define-color theme_button_decoration_hover_breeze #fab387;
@define-color theme_button_decoration_hover_insensitive_breeze #7b5a3c;
@define-color theme_button_foreground_active_backdrop_breeze #cdd6f4;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #585b70;
@define-color theme_button_foreground_active_breeze #cdd6f4;
@define-color theme_button_foreground_active_insensitive_breeze #585b70;
@define-color theme_button_foreground_backdrop_breeze #cdd6f4;
@define-color theme_button_foreground_backdrop_insensitive_breeze #7f849c;
@define-color theme_button_foreground_insensitive_breeze #7f849c;
@define-color theme_button_foreground_normal_breeze #cdd6f4;
@define-color theme_fg_color_breeze #cdd6f4;
@define-color theme_header_background_backdrop_breeze #1e1e2e;
@define-color theme_header_background_breeze #313244;
@define-color theme_header_background_light_breeze #1e1e2e;
@define-color theme_header_foreground_backdrop_breeze #cdd6f4;
@define-color theme_header_foreground_breeze #cdd6f4;
@define-color theme_header_foreground_insensitive_backdrop_breeze #cdd6f4;
@define-color theme_header_foreground_insensitive_breeze #cdd6f4;
@define-color theme_hovering_selected_bg_color_breeze #fab387;
@define-color theme_selected_bg_color_breeze #7b5a3c;
@define-color theme_selected_fg_color_breeze #cdd6f4;
@define-color theme_text_color_breeze #cdd6f4;
@define-color theme_titlebar_background_backdrop_breeze #1e1e2e;
@define-color theme_titlebar_background_breeze #313244;
@define-color theme_titlebar_background_light_breeze #1e1e2e;
@define-color theme_titlebar_foreground_backdrop_breeze #cdd6f4;
@define-color theme_titlebar_foreground_breeze #cdd6f4;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #cdd6f4;
@define-color theme_titlebar_foreground_insensitive_breeze #cdd6f4;
@define-color theme_unfocused_base_color_breeze #11111b;
@define-color theme_unfocused_bg_color_breeze #1e1e2e;
@define-color theme_unfocused_fg_color_breeze #cdd6f4;
@define-color theme_unfocused_selected_bg_color_alt_breeze #4a2c1f;
@define-color theme_unfocused_selected_bg_color_breeze #4a2c1f;
@define-color theme_unfocused_selected_fg_color_breeze #cdd6f4;
@define-color theme_unfocused_text_color_breeze #cdd6f4;
@define-color theme_unfocused_view_bg_color_breeze #181825;
@define-color theme_unfocused_view_text_color_breeze #a6adc8;
@define-color theme_view_active_decoration_color_breeze #fab387;
@define-color theme_view_hover_decoration_color_breeze #fab387;
@define-color tooltip_background_breeze #313244;
@define-color tooltip_border_breeze #585b70;
@define-color tooltip_text_breeze #cdd6f4;
@define-color unfocused_borders_breeze #585b70;
@define-color unfocused_insensitive_borders_breeze #45475a;
@define-color warning_color_backdrop_breeze #f9e2af;
@define-color warning_color_breeze #f9e2af;
@define-color warning_color_insensitive_backdrop_breeze #7a5610;
@define-color warning_color_insensitive_breeze #7a5610;

