@define-color base #1e1e2e;
@define-color lavender #b4befe;
@define-color sky #89dceb;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color red #f38ba8;
@define-color flamingo #f2cdcd;
@define-color blue #89b4fa;
@define-color peach #fab387;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color teal #94e2d5;
@define-color maroon #eba0ac;
@define-color rosewater #f5e0dc;
@define-color sapphire #74c7ec;
@define-color surface1 #45475a;
